body {
    font-family: "Rubik Bubbles", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.8rem;
    color: #f2ebbd;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #31315e;
}

#homepage {
    text-align: center;
    height: auto;
    overflow: hidden;
}

h1 {
    margin: 0;
    text-align: center;
    justify-content: center;
}

h2 {
    font-family: "Nunito", serif;
    font-size: 1.1rem;
    margin: 3px;
    text-align: center;
    justify-content: center;
}

#question1 {
    display: none;
    text-align :center;
    justify-content: center;
}

#question2 {
    display: none;
    text-align :center;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
}

#q2Answers {
    margin-left: 150px;
    margin-right: 150px;
}

#question3 {
    display: none;
    text-align :center;
    justify-content: center;
    margin-left: 220px;
    margin-right: 220px;
}

#question4 {
    display: none;
    text-align :center;
    justify-content: center;
    margin-left: 220px;
    margin-right: 220px;
}

#q4Answers {
    margin-left: 50px;
    margin-right: 50px;
}

#question5 {
    display: none;
    text-align :center;
    justify-content: center;
    margin-left: 220px;
    margin-right: 220px;
}

.color {
    height: 60px;
    border-radius: 50%;

}

#result {
    display: none;
    text-align :center;
    justify-content: center;
}

#resultPage {
    display: none;
    text-align :center;
    justify-content: center;
}

#resultImage {
    width: 250px;
    height: 250px;
    margin: 20px;
    border-radius: 10px;
    border:5px solid;
    border-color:#f2ebbd;
}

#resultPage {
    font-size: 20px;
}

#yellow {
    background-color: #edaf72
}

#pink {
    background-color: #e89bd1;
}

#purple {
    background-color: #592f3c;
}

#cyan {
    background-color: #6ac7de;
}

#red {
    background-color: #180c45;
}

#blue {
    background-color: #365173
}


button {
    padding: 5px 30px;
    font-family: "Nunito", serif;
    font-weight: 900;
    font-style: normal;
    font-size: 1.2rem;
    color: #4a390f;
    background-color: #fae0a0;
    justify-content: center;
    align-items: center;
    height: 7vh;
    margin: 20px;
    border: 0;
    border-radius:10px;
    cursor: pointer;
}

button:hover {
    background-color:#d9a879;
    transform: scale(1.05);
    color: #332605;
}

#resultAudio {
    border-radius: 12px;
    width: 90%;
    height: 352;
    border: 0;
    margin: 20px;
}
